/* Text */
body {
  margin: 10;
  font-family: Arial, sans-serif;
  background: beige;
}

.page-title h1{
    display: flex;
  justify-content: space-between;
  align-items: center;
 font-family: "Playfair Display", serif;
  letter-spacing: 2px;
  text-transform: uppercase;
}


p {
  font-size: 20px;
}

/* Top Nav Bar */
.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 40px;
}

nav a {
  margin-left: 30px;
  text-decoration: none;
  color: black;
  font-weight: 600;
}


nav .signup {
  background-color: green;
  color: white;
  padding: 10px 15px;
}

/*Image*/
.hero img {
   width: 65%;
  display: block;
  margin: 40px auto;
  padding: 20px;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 900px;
  margin: 40px auto;
  gap: 40px;
}

.Information {
  display: flex;
  gap: 50px;
  justify-content: space-between;
  padding: 40px;
}


.image-slider img {
  width: 100%;
  height: 400px;        
  object-fit: cover;   
}

.Info {
    width: 50%;
}



.signup-container {
  justify-content: flex-end;
  margin-top: 20px;
}

.signup-btn {
  display: inline-block;
  background-color: #4c8c2b;
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  border-radius: 4px;
  width: auto;
}


.f-image {
  flex: 25%;   
}

.f-image img {
  max-width: 100%;
  height: auto;
  display: block;
}



/* I used AI for the green sign up sheet to the right of the page, I couldn't figure out how to align it correctly. /*